/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Gabarito', cursive;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    color: #4D4D4D;
}

p {
    color: #717171;
}

.btn {
    color: #fff;
    background-color: #4caf4f;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem 2rem;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Navigation Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/* Left Navigation Side */
.left-nav img {
    width: 10rem;
}

/* Right Navigtion Side */
.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-nav ul {
    display: flex;
}

.right-nav ul li {
    list-style: none;
    margin-right: 3rem;
}

.right-nav ul li a {
    text-decoration: none;
    color: #4D4D4D;
    transition: 0.3s;
}

.right-nav ul li a:hover {
    color: #28CB8B;
}


/* Main Content Section */
.main-pamphlet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #F5F7FA;
    padding: 2rem 2rem;
}

.main-pamphlet-left {
    font-size: xx-large;
    text-align: start;
}

.main-pamphlet-left span {
    color: #4CAF4F;
}

.main-pamphlet-left p {
    margin: 1rem 0;
    font-size: small;
    color: #717171;
}

.main-pamphlet-right img {
    width: 100%;
    max-width: 30rem;
    padding: 2rem 0;
}


/* Clients  */
.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.clients-discription h1 {
    margin: 0.5rem 0;
}

.clients-discription p {
    margin-bottom: 1rem;
}

.clients-logo {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.clients-logo img {
    width: 3rem;
}

/* Community */
.community{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

.community h1{
    margin-bottom: 0.5rem;
}