/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Gabarito', cursive;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    color: #4D4D4D;
}

#main {
    overflow: hidden;
}

p {
    color: #717171;
}

.btn {
    color: #fff;
    background-color: #4caf4f;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem 2rem;
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Navigation Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/* Left Navigation Side */
.left-nav img {
    width: 10rem;
}

/* Right Navigtion Side */
.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-nav ul {
    display: flex;
}

.right-nav ul li {
    list-style: none;
    margin-right: 3rem;
}

.right-nav ul li a {
    text-decoration: none;
    color: #4D4D4D;
    transition: 0.5s;
}

.right-nav ul li a:hover {
    color: #28CB8B;
}


/* Main Content Section */
.main-pamphlet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #F5F7FA;
    padding: 2rem;
    margin-bottom: 1rem;
}

.main-pamphlet-left {
    font-size: xx-large;
    text-align: start;
}

.main-pamphlet-left span {
    color: #4CAF4F;
}

.main-pamphlet-left p {
    margin: 1rem 0;
    font-size: small;
    color: #717171;
}

.main-pamphlet-right img {
    width: 100%;
    max-width: 30rem;
    padding: 2rem 0;
}


/* Clients  */
.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 0;
}

.clients-discription h1 {
    margin: 0.5rem 0;
}

.clients-discription p {
    margin-bottom: 1rem;
}

.clients-logo {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.clients-logo img {
    width: 3rem;
}

/* Community */
.community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem 0;
}

.community h1 {
    margin-bottom: 0.5rem;
}


/* Memberships */
.memberships {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    gap: 7rem;
}

.memberships-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
    width: 15rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 1.39214px 2.78428px 0px rgba(171, 190, 209, 0.5);
    gap: 1rem;
    transition: 0.5s;
}

.memberships-card:hover {
    box-shadow: 0px 1.39214px 2.78428px 0px rgba(171, 190, 209, 1);
    transform: translateY(-15px);

}

.memberships-card img {
    width: 3rem;
}

.memberships-card h2 {
    margin-bottom: 1rem;
}


/* Unlock */
.unlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.unlock-img {
    width: 40%;
    max-width: 30rem;
}

.unlock-img img {
    width: 100%;
}

.unlock-text {
    width: 60%;
    max-width: 50rem;
}

.unlock-text h1,
p {
    margin-bottom: 2rem;
}


/* Customers */

.customers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 2rem 0;
}

.customers-img {
    width: 30%;
    max-width: 20rem;
}

.customers-img img {
    width: 100%;
}

.customers-text {
    width: 70%;
    max-width: 50rem;
}

.customers-text div {
    margin-bottom: 2rem;
}

.customers-text h1 {
    color: #4CAF4F;
}

.customers-text ul li {
    list-style: none;
}

.customers-text ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customers-text img {
    width: 2rem;
}

.customers-text a {
    text-decoration: none;
    color: #4CAF4F;
    font-size: larger;
}

/* Community Update */
.community-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.community-update-text {
    width: 50%;
}

/* Footer Section  */
footer {
    background-color: #263238;
    display: flex;
    justify-content: center;
    color: #fff;
}

footer p {
    color: #fff;
}

footer li {
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.footer-left {
    margin: 2rem 4rem 2rem 0;
}

.footer-left div {
    margin-bottom: 1rem;
}

.footer-left div a img {
    width: 2rem;
    margin: 0 0.5rem;
    transition: 0.5s;
}

.footer-left div a img:hover {
    transform: translateY(-5px);
}

.footer-right {
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem 4rem;
}

.footer-right div {
    padding: 1rem;
    margin: 0 2rem;
}

.footer-right h3 {
    margin-bottom: 1rem;
}

.footer-right div li {
    list-style: none;
    padding: 0.5rem;
}

.footer-right input {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #89939E;
}

.footer-right input:focus {
    border: none;
}